<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaisoft.lib.updater">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.zhaisoft.lib.updater.Activity_Verison_Update"
            android:configChanges="keyboardHidden|screenSize|screenLayout"
            android:label="@string/app_name"
            android:process=":remote"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <service
            android:name="com.zhaisoft.lib.updater.CheckUpdateService"
            android:process=":remote" />
        <service
            android:name="com.zhaisoft.lib.updater.UpdateService"
            android:process=":remote"></service>

    </application>

</manifest>
