<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaisoft.lib.updater">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BlankActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Android version updater -->
        <!--<activity-->
            <!--android:name="com.zhaisoft.lib.updater.Activity_Verison_Update"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/DialogTheme" >-->
        <!--</activity>-->
        <!--<service android:name="com.zhaisoft.lib.updater.CheckUpdateService" />-->
        <!--<service android:name="com.zhaisoft.lib.pdater.UpdateService" >-->
        <!--</service>-->



    </application>

</manifest>
